@font-face {
    font-family: 'Ubuntu';
    src: url("../../assets/Fonts/Ubuntu/Ubuntu-Regular.ttf");
}
body {
    font-family: "Ubuntu";
}
.error {
    margin-top: 20px;
}
.navbar-icon img{
    opacity: 70%;
}
