.tableCustom {
    margin-top: 20px;
}
.buttongroup {
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
th:hover {
    cursor: pointer;
}
img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.number-order-sort {
    margin-left: 5px;
    font-size: 8px;
}