.login_button {
    margin-top: 20px;
}
.login_window {
    margin-top: 10em;
    box-shadow: #b4b4b0 4px 4px 4px 4px;
    border-radius: 10px;
    padding: 10px;

    padding-top: 2em;
    padding-bottom: 2em;
}
h1 {
    text-align: center;
}